:root{
    --accent: white;
    --bg: black;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.card-holder{
	display: flex;
	justify-content: center;
}

.card{
  width: 22rem;
  background-color: var(--accent);
  color: black;
  margin: 2rem auto;
  box-shadow: 0 0 2rem rgba(0,0,0,0.1);
  border-radius: 50px; 
  border: none;
}

.grafico{
    position: absolute;
    left: -45px;
    top: 13px;
    background-color: transparent;	
}

.card__name{
	font-family: 'Glory';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 28px;
	text-align: center;
    position: absolute;
    z-index: 90;
    left: 115px;
}

.card__img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.card-contents{
  padding: 1rem;
}

.card__read-more{
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.card__read-more--open{
  display: inline-block;
  opacity: 1;
  height: 3rem;
}

.read-more-btn{
	display: inline-block;
	color: black;
	background-color: white;
	padding: 0.6rem 1.5rem;
	font-size: 1em;
	z-index: 1;
	transition: all 0.5s;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 115px;
}


.read-more-btn:hover{
  background-color: white;
  box-shadow: 0 0 2rem rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

#add{
    border-radius: 50px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
    /*background-image: url(download.png);*/
    

}
.c4{
    padding-left: 50px;
}

#historico{
    border-radius: 20px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
    background: linear-gradient(to right, #4D84B6, #4EEAE0);

    width: 164px;
   

}


#centraliza2
{
   
    padding-left: 85px;
}

.vlr{
  font-family: 'Glegoo';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 23px;
color: rgba(0, 0, 0, 0.61);

text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}