@charset "ISO-8859-1";

/**
* INICIO DAS TAGS TEMPORARIAS
**/
/*
* FIM DAS TAGS TEMPORARIAS
**/
@charset "ISO-8859-1";

/**
* INICIO DAS TAGS TEMPORARIAS
**/
/*
* FIM DAS TAGS TEMPORARIAS
**/
.blue-ball {
  text-align: start;
}
h1 {
  height: auto;
  margin-top: 0.8em;
}
.white-box {
	top: 20em;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.div-esqueceu-submit {
  justify-content: flex-end;
}
.input-submit {
  padding: 0.3em;
  border: none;
  background-image: url(../Images/button/buttonCad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}