@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Glory:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
}

header {
	position: relative;
	z-index:2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0 0 30px 30px;
	padding: 8px 16px;
}

.headertitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	font-family: 'Glory';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #000;
}

.headerlabel {
	font-family: 'Glory';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.51);
}